.App {
  text-align: center;
}

.small-font {  
  font-size: 14px;
}

.medium-font {  
  font-size: 20px;
  text-align: center;
}

.line-hr {
  border: 1px solid #A0A0A0;
  opacity: 30%;
}

.center-text {
  text-align: center;
}

.blod-font {
  font-weight: bold;
}

.ui.search.dropdown {
  margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bg-grey {
  background-color: #ADAFB1 !important;
}

.bg-yellow {
  background-color: #F5D80D !important;
}

.bg-green {
  background-color: #00B900 !important;
}

.color-black {
  color: #000000 !important;
}

.color-white {
  color: #ffffff !important;
}

.color-red {
  color: red;
}



